<!DOCTYPE html>
<html>
    <head>
        <!--
         @author: Captain
         @date: 2013-07-15
         -->
        <!--设置内容宽度自适应设备宽度-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--状态栏颜色-->
        <meta name="apple-mobile-web-app-status-bar-style" content="blue">
        <!--屏蔽数字拨号-->
        <meta name="format-detection" content="telephone=no">
        <meta charset="utf-8">
        <title>福店</title>
        <link href="../../../css/index.css" rel="stylesheet" />
        <link href="../../../css/reset.css" rel="stylesheet" />
        <link href="../css/main.css" rel="stylesheet" />
        <script src="../../../cordova.js"></script>
        <script src='../../../js/sea.js'></script>
        <script src='../../../js/zepto/zepto.js'></script>
        <script src='../../../js/zepto/zepto-data.js'></script>
        <script src='../../../js/zepto/zepto-selector.js'></script>
        <script src='../../../js/zepto/zepto-touch.js'></script>
        <script src='../../../js/zepto/zepto-fx.js'></script>
        <script src='../../../js/zepto/zepto-fx_methods.js'></script>
        <script src='../../../js/backbone/underscore.js'></script>
        <script src='../../../js/backbone/backbone.js'></script>
        <script src='../../../js/backbone/backbone-localstorage.js'></script>
        <script src='../../../js/lib/fastclick.js'></script>
        <script>
            var G_INPAY = false;
            
            function startPay() {
               G_INPAY = true;
            }
           
            function cancelOrder () {
               G_INPAY = false;
            }
           
            function successOrder( ) {
               G_INPAY = false;
            }
        </script>
        <script>
            seajs.config({
                //配置时间戳，解决浏览器或者webview cache问题
                map : [[/^(.*\.(?:css|js))(.*)$/i, '$1?00001364']]
            });

            function onDeviceReady() {
                seajs.use("../js/app");
            }
            document.addEventListener("deviceready", onDeviceReady, true);
        </script>
    </head>
    <body>
        <nav>
            <span class='leftButton hide'></span>
            <span class='rightButton'></span>
            <span class='navTitle'>我的福店</span>
        </nav>
        
        <!--网络请求等待层-->
        <div id="loading"></div>

        <div id='shareLayer'>
            <div class='shareTab'>
                <span class='text' style="font-size: 15px;">分享至</span>
                <span class='cancel'></span>
                <ul>
                    <li class='first'>
                        <span>微信</span>
                    </li>
                    <li class='second'>
                        <span>QQ好友</span>
                    </li>
                    <li class='third'>
                        <span>微博</span>
                    </li>
                    <li class='fourth'>
                        <span>短信</span>
                    </li>
                    <li class='last'>
                        <span>邮件</span> 
                    </li>
                </ul>
            </div>
        </div>

    	<div id='steps'>
            <div id='myWeidian'>
                <div class='tpl_part'>
                </div>
                <ul class='goods_list'>
                </ul>
                <div class='bottom_bar'>
                    <div class='myWeidian_button taped'>
                        <span>我的福店</span>
                    </div>
                    <div class='order_manage_button'>
                        <span>订单管理</span>
                    </div>
                </div>
            </div>

            <div id='shopEidt'>
                <div class='shopPic'>
                    <div class='camPic'></div>
                    店铺图片
                </div>
                <ul class='tyspInfo'>
                    <li>
                        <span class='left'>店铺名称</span>
                        <input class='tyspName' type='text' value='Anne Hathaway'>
                    </li>
                    <li>
                        <span class='left'>福店ID</span>
                        <span class='tyspId'>358411</span>
                    </li>
                    <li class='last'>
                        <span class='left'>认证</span>
                        <span class='cert'>未认证</span>
                    </li>
                </ul>
                <a class='global_button' href='javascript:void(0)'>
                    <span class='left'>保</span>
                    <span class='right'>存</span>
                </a>
                <ul class='getPic'>
                    <li class='second'>拍照</li>
                    <li class='third'>从手机相册选择</li>
                    <li class='last'>取消</li>
                </ul>
            </div>

            <div id='pubGoods'>
                <div class='top_bar add_goods' rel='!pub_goods_details/2'>
                    <div class='text'>添加商品</div>
                </div>
                <ul class='goods_list'>
                </ul>
            </div>

            <div id='pub_goods_details'>
                <div>
                    <div class='select_pic'>
                        <div class='effect_icon'></div>
                    </div>
                    <input class='good_name' type='text' placeholder='商品名称'>
                    <input class='good_price' type='text' placeholder='商品价格'>
                    <span class='tip'>单品价格不超过10000元</span>
                    <textarea class='good_des' placeholder='详细描述'></textarea>
                </div>
                <a class='global_button first' href='javascript:void(0)'>
                    <span class='left'>保</span>
                    <span class='right'>存</span>
                </a>
                <a class='global_button last' href='javascript:void(0)'>
                    <span class='left'>删</span>
                    <span class='right'>除</span>
                </a>
                <ul>
                    <li class='first' rel='!goods_sort/1'>去商品库</li>
                    <li class='second'>拍照</li>
                    <li class='third'>从手机相册选择</li>
                    <li class='last'>取消</li>
                </ul>
            </div>

            <div id='goods_sort'>
                <ul>
                </ul>
            </div>

            <div id='goods_library'>
                <ul class='goods_list'>
                </ul>
                <div class='btm_bar'>
                    <a class='global_button' rel='!pub_goods_details/4' href='javascript:void(0)'>
                        <span class='left'>选</span>
                        <span class='right'>择</span>
                    </a>
                </div>
            </div>
        </div>


<!-- 微店信息模版 -->
        <script type='javascript/template' id='sk_info'>
            <%
                var sk_info = '<div class="sk_icon" style="background-image: url(' + model.image_src + ')"></div>';

                var sk_rel_info;
                if (context.user.authenFlag == '3') {
                    sk_rel_info = '<div class="sk_rel_info">';
                } else {
                    sk_rel_info = '<div class="sk_rel_info notAuthen">';
                }
            %>

            <div class='sk_info' rel='!shopEidt/1'>
                <%= sk_info %>
                <%= sk_rel_info %>
                    <span class='sk_name'><%= model.name %></span>
                    <br />
                    <span class='sk_tel'><%= model.mobile_no %></span>
                </div>
                <span class='list_arrow'></span>
            </div>
            <ul class='info_bar'>
                <li class='first'>
                    <span class='goods_no'></span>
                    全部宝贝
                </li>
                <li class='second'>
                    <span class='total_price'><%= model.account %></span>
                    销售额
                </li>
                <li class='last'>
                    <span class='share'></span>
                    分享
                </li>
            </ul>
        </script>
<!--  微店信息模版结束 -->

<!-- 商品列表模版 -->
        <script type='javascript/template' id='goods_list'>
            <%
                _.each(collection, function(value, index) {
                    print('<li data-id=' + value.id + '>' +
                              '<span class="show_pic" style="background-image: url(' + value.image_src + ')"></span>' +
                              '<span class="goods_name">' + value.name + '</span>' +
                              '<span class="rmb_symbol">¥</span>' +
                              '<span class="price">' + value.price + '</span>' +
                          '</li>');
                });
            %>
        </script>
<!-- 商品列表模版结束 -->

<!-- 商品分类模版 -->
        <script type='javascript/template' id='goods_sort_tpl'>
            <%
                _.each(collection, function(value, index) {
                    print('<li data-id=' + value.id + '>' + value.name + '</li>');
                });
            %>
        </script>
<!-- 商品分类模版结束 -->

<!-- 商品库模版 -->
        <script type='javascript/template' id='goods_list_tpl'>
            <%
                var firstClass = '';
                _.each(collection, function(value, index) {
                    if (index == 0) {
                        firstClass = ' class = "taped"';
                    } else {
                        firstClass = '';
                    }
                    print('<li' + firstClass + '>' +
                              '<span class="show_pic" style="background-image: url(' + value.image_src + ')"></span>' +
                              '<span class="goods_name">' + value.name + '</span>' +
                          '</li>');
                });
            %>
        </script>
<!-- 商品库模版结束 -->
    </body>
</html>