<!DOCTYPE html>
<html>
    <head>
        <!--设置内容宽度自适应设备宽度-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--屏蔽数字拨号-->
        <meta name="format-detection" content="telephone=no">
        <meta charset="utf-8">
        <title>火车票</title>
        <link href="../../../css/index.css" rel="stylesheet" />
        <link href="../../../css/reset.css" rel="stylesheet" />
        <link href="../css/main.css" rel="stylesheet" />
        <script src="../../../cordova.js"></script>
        <script src='../../../js/sea.js'></script>
        <script src='../../../js/zepto/zepto.js'></script>
        <script src='../../../js/zepto/zepto-data.js'></script>
        <script src='../../../js/zepto/zepto-selector.js'></script>
        <script src='../../../js/zepto/zepto-touch.js'></script>
        <script src='../../../js/zepto/zepto-fx.js'></script>
        <script src='../../../js/zepto/zepto-fx_methods.js'></script>
        <script src='../../../js/backbone/underscore.js'></script>
        <script src='../../../js/backbone/backbone.js'></script>
        <script src='../../../js/backbone/backbone-localstorage.js'></script>
        <script>
            var G_INPAY = false;
            
            function startPay() {
               G_INPAY = true;
            }
           
            function cancelOrder () {
               G_INPAY = false;
            }
           
            function successOrder( ) {
               G_INPAY = false;
            }
        </script>
        <script>
            seajs.config({
                //配置时间戳，解决浏览器或者webview cache问题
                map : [[/^(.*\.(?:css|js))(.*)$/i, '$1?00001364']]
            });

            function onDeviceReady() {
                seajs.use("../js/app");
            }
            document.addEventListener("deviceready", onDeviceReady, true);
        </script>
    </head>
    <body>
        <nav>
            <span class='leftButton hide'></span>
            <span class='rightButton'>订单</span>
            <span class='navTitle'>火车票</span>
        </nav>

        <!--网络请求等待层-->
        <div id="loading"></div>

    	<div id='steps'>
            <div id='step1'>
                <div class='cityInfo'>
                    <div class='dep_place'>
                        <h3>出发地</h3>
                        <div class='depp' rel='!city/1'>上海</div>
                    </div>
                    <div class='exchange'></div>
                    <div class='des_place'>
                        <h3 class='right'>目的地</h3>
                        <div class='desp' rel='!city/2'>北京</div>
                    </div>
                </div>
                <ul class='dateInfo'>
                    <li class='first_li'>
                        <input class='dep_date' type='date'>
                        <span>出发日期</span>
                        <div class='dep_date_hack'></div>
                    </li>
                    <li>
                        <select class='chsQ'>
                            <option>00:00-24:00(整天)</option>
                            <option>00:00-06:00(早晨)</option>
                            <option>06:00-12:00(上午)</option>
                            <option>12:00-18:00(下午)</option>
                            <option>18:00-24:00(晚上)</option>
                        </select>
                        <span>出发时间段</span>
                    </li>
                    <li class='last'>
                        <select class='tT'>
                            <option>全部</option>
                            <option>G(高铁)</option>
                            <option>D(动车)</option>
                        </select>
                        <span>车次类型</span>
                    </li>
                </ul>
                <div class='tip'>
                    <a href='#!tip/1'>《购票须知》</a>
                    <span>请阅读</span>
                </div>   
                <div class='global_button'>
                    <span class='left'>搜</span>
                    <span class='right'>索</span>
                </div>
            </div>
            
            <div id='tip'>
                用户须知：<br /><br />

                1、订票预售期<br />
                1 - 18天 （开车前2小时停止办理）<br /><br />
                
                2、有效身份证件<br /><br />
                
                2.1 用户可以为自己购票，也可以为他人购票，但均须准确填写乘车人的真实有效身份证件信息。<br /><br />
                
                2.2 接受的有效身份证件是指：中华人民共和国居民身份证、中华人民共和国港澳居民来往内地通行证、台湾居民来往大陆通行证、护照。<br /><br />
                
                2.3 购买儿童票的乘车儿童没有办理有效身份证件的，须使用同行成年人的有效身份证件信息，并于开车前换取纸质车票后乘车。<br /><br />
                
                2.4 用户使用虚假身份证件购买车票或进站乘车的，后果自负。因此造成铁路运输企业或第三方损失的，将追究其法律责任。<br /><br />
                
                3、电子客票换票<br /><br />
                
                3.1 若您使用二代居民身份证预订火车票代购产品，可凭预订时所使用的乘车人有效二代居民身份证原件到车站售票窗口、铁路客票代售点或车站自动售票机上办理换票手续。<br /><br />
                
                3.2 若您持有的二代居民身份证无法自动识读或者使用二代居民身份证以外的其他有效身份证件预订的，需出示预订时所使用的乘车人有效身份证件原件和窗口取票号，到车站售票窗口或铁路运输企业授权的铁路客票代售点，由售票员录入证件号码和窗口取票号码并核实后办理换票手续。<br /><br />
                
                3.3 若您在预订成功后、换票前，不慎遗失有效身份证件，须由您本人到乘车站铁路公安制证口办理临时身份证明。<br /><br />
                
                3.4 有效身份证件信息、窗口取票号等经核实一致的，予以换票；不一致的，不予换票。<br /><br />
                
                注：部分动车组列车可持二代居民身份证直接检票进站。<br /><br />
                
                4、改签、退票<br /><br />
                
                4.1 旅客在办理铁路电子客票改签、退票手续时，不晚于车票发站开车前 2 小时。先换取纸质车票后办理改签、退票业务。在换票地车站或票面发站办理。<br /><br />
                
                4.2 需退票费报销凭证的，凭在网站购票所使用的乘车人有效身份证件原件在办理退票之日起 10 日内到车站退票窗口索取。<br /><br />
                
                5、代购费用<br /><br />
                
                代购费10元/张，其中5元为代购费，5元为保险费。<br />
                注：保额：5元最高赔付￥20万元人民币。<br /><br />
                
                6、卧铺差价退还<br /><br />
                
                卧铺坐席默认收取下铺票价，出票后根据实际票价退还差价。
            </div>
            
            <div id='city'>
                <menu>
                    <div class='search'>
                        <input type='text' class='getCity' placeholder='上海'>
                        <ul class='list'></ul>
                    </div>
                    <ul class='history'>
                        <!-- <li class='first'>历史</li>
                        <li>上海</li>
                        <li class='last'>北京</li> -->
                    </ul>
                    <ul class='hotCity'>
                        
                    </ul>
                    <ul class='cityList'>
                        
                    </ul>
                </menu>
            </div>

            <div id='myOrder'>
                <!-- <div>
                    <div class='status-bar'></div>
                    <div class='info-bar'>
                        <div class='train-no'>G102</div>
                        <div class='s-a-info'>
                            <div class='s-info'>
                                <div>
                                    <span class='s-station'>上海虹桥</span>
                                    <span class='s-time'>16:00</span>
                                </div>
                            </div>
                            <div class='symbol'>--</div>
                            <div class='a-info'>
                                <div>
                                    <span class='a-station'>北京南</span>
                                    <span class='a-time'>21:12</span>
                                </div>
                            </div>
                        </div>
                        <div class='s-date'>
                            <span class='go-date'>2013-09-11</span>
                            <span class='order-state'>未出票</span>
                        </div>
                        <div class='price'>
                            <span class＝'rmb-symbol'>¥</span>
                            <span class='t-price'>553</span>
                        </div>
                    </div>
                </div> -->
            </div>
            
            <div id='queryTicket'>
                <div class='info-list'>
                    <div class='main_info_parent'>
                        <!-- <div class='main_info'>
                            <div class='bar'>
                                <span class='train-no'>G101</span>
                                <span class='train-type'>(高铁)</span>
                                <span class='all-time'>05小时36分钟</span>
                                <span class='soldOut'></span>
                            </div>
                            <div class='box'>
                                <div class='s-a-time'>
                                    <span class='start-time'>07:00</span>
                                    <span class='arrive-time'>12:36</span>
                                </div>
                                <div class='s-z'>
                                    <span class='s'>始</span>
                                    <span class='z'>终</span>
                                </div>
                                <div class='s-a-station'>
                                    <span class='start-station'>呼和浩特</span>
                                    <span class='arrive-station'>呼和浩特东</span>
                                </div>
                                <div class='seat-state'>
                                    <span class='shang'>
                                        <span class='sName'>商务座</span>
                                        <span class='lef_tic'>33张</span>
                                        <span class='situ'>￥111</span>
                                    </span>
                                    <span class='yi'>
                                        <span class='sName'>一等座</span>
                                        <span class='lef_tic'>333张</span>
                                        <span class='situ'>2</span>
                                    </span>
                                    <span class='er'>
                                        <span class='sName'>二等座</span>
                                        <span class='lef_tic'>33张</span>
                                        <span class='situ'>999</span>
                                    </span>
                                    <span class='wo'>
                                        <span class='sName'>软卧</span>
                                        <span class='lef_tic'>133张</span>
                                        <span class='situ'>无</span>
                                    </span>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class='more'>更多</div>
                </div>
                <div class='top-bar'>
                    <span class='prev'>前一天</span>
                    <span class='next'>后一天</span>
                    <span class='nowDate'>2014-02-16</span>
                </div>
                <div class='bottom-bar'>
                    <div class='container'>
                        <span class='r_ticket taped'>余票</span>
                        <span class='t_price'>票价</span>
                    </div>
                </div>
            </div>

            <div id='writeOrder'>
                <div class='confirm_order'>
                    <div class='first'>
                        <!-- <div class='train_no'>G101(高铁)</div>
                        <div class='train_section'></div>
                        <ul class='train_num_info'>
                            <li class='first'>北京南<br />07:00</li>
                            <li class='second'>2014-01-22</li>
                            <li class='third'>星期三</li>
                            <li class='last'>上海虹桥<br />12:36</li>
                        </ul> -->
                    </div>
                    <h3>选择座位类型</h3>
                    <menu>
                        <!-- <li>
                            <span class='first'>二等软座</span>
                            <span class='second'>大于50张</span>
                            <span class='third'>¥553</span>
                            <input type='radio' name='seat' checked>
                        </li> -->
                    </menu>
                    <h3>乘客信息</h3>
                    <div class='passenger_info'>
                        <menu>
                            <!-- <li>
                                <span class='d_pas'></span>
                                <span class='c_name'>星联上校</span>
                                <span class='mobile_no'>15621290319</span>
                                <br />
                                <span class='pid_type'>二代身份证</span>
                                <span class='pid'>350981********0010</span>
                            </li>
                            <li>
                                <span class='d_pas'></span>
                                <span class='c_name'>星联上校</span>
                                <span class='mobile_no'>15621290319</span>
                                <br />
                                <span class='pid_type'>二代身份证</span>
                                <span class='pid'>350981********0010</span>
                            </li> -->
                        </menu>
                        <div class='add_passenger' rel='!addPassenger/1'>
                            <span class='plus'></span>
                            <span>添加乘客</span>
                        </div>
                    </div>
                    <h3>联系人信息</h3>
                    <div class='getContacts'>
                        <li>
                            <span>姓名</span>
                            <input type='text' class='c-name'>
                        </li>
                        <li class='last'>
                            <span>号码</span>
                            <input type='text' class='c-no'>
                        </li>
                        <span class='c_pic'></span>
                    </div>
                </div>
                <div class='bottom_bar'>
                    <span class='submit'>提交</span>
                    <span class='jiage'>0</span>
                    元(票价) *
                    <span class='renshu'>0</span>
                    人
                    <br />
                    共计
                    <span class='allMoney'>0</span>
                    元(代购费:10元/人)
                </div>
            </div>

            <div id='addPassenger'>
                <menu>
                    <!-- <div>
                        <li>
                            <span class='tick'></span>
                            <span class='c_name'>星联上校</span>
                            <span class='mobile_no'>15621290319</span>
                            <br />
                            <span class='pid_type'>二代身份证</span>
                            <span class='pid'>350981******0010</span>
                        </li>
                        <div class='delete'></div>
                    </div> -->
                </menu>
                <div class='global_button'>
                    <span class='left'>保</span>
                    <span class='right'>存</span>
                </div>
            </div>

            <div id='new_pas'>
                <input type='text' class='p_name' placeholder='请输入乘客姓名'>
                <div class='chs_sex'>选择性别</div>
                <div class='sex'>
                    <label class='male taped'>男</label>
                    <label class='female'>女</label>
                </div>
                <select class='ide'>
                    <option value='二代身份证'>二代身份证</option>
                </select>
                <input type='text' class='ide_number' placeholder='请输入证件号码' pattern="[0-9]*">
                <input type='text' class='phone_no' placeholder='请输入乘客联系电话' pattern="[0-9]*">
                <div class='global_button save'>
                    <span class='left'>保</span>
                    <span class='right'>存</span>
                </div>
            </div>
        </div>


<!-- 我的订单模版 -->
        <script type='javascript/template' id='myOrder_tpl'>
            _.each(data, function(value, index) {
                print('<div>' +
                          '<div class="status-bar"></div>' +
                          '<div class="info-bar">' +
                              '<div class="train-no">' + value.train_no + '</div>' +
                              '<div class="s-a-info">' +
                                  '<div class="s-info">' +
                                      '<div>' +
                                          '<span class="s-station">' + value.dep + '</span>' +
                                          '<span class="s-time">' + value.go_time + '</span>' +
                                      '</div>' +
                                  '</div>' +
                                  '<div class="symbol">--</div>' +
                                  '<div class="a-info">' +
                                      '<div>' +
                                          '<span class="a-station">' + value.arr + '</span>' +
                                          '<span class="a-time">' + value.to_time + '</span>' +
                                      '</div>' +
                                  '</div>' +
                              '</div>' +
                              '<div class="s-date">' +
                                  '<span class="go-date">' + value.go_date + '</span>' +
                                  '<span class="order-state">' + value.state + '</span>' +
                              '</div>' +
                              '<div class="price">' +
                                  '<span class＝"rmb-symbol">¥</span>' +
                                  '<span class="t-price">' + value.amount + '</span>' +
                              '</div>' + 
                          '</div>' +
                      '</div>');
            });
        </script>
<!-- 我的订单模版结束 -->


<!-- 历史记录模版 -->
        <script type='javascript/template' id='history_tpl'>
            <%
                var length = data.length;
                print('<li class="first">历史</li>');
                _.each(data, function(value, index) {
                    var str = (index != length - 1) ? '' : ' class="last"' ;
                    print('<li' + str + '>' +
                              '<span class="depart">' + value[0] + '</span>' +
                              '-----' +
                              '<span class="desti">' + value[1] + '</span>' +
                          '</li>');
                });
            %>
        </script>
<!-- 历史记录模版结束 -->

<!-- 城市列表模版 -->
        <script type='javascript/template' id='city_tpl'>
            <%
                _.each(collection, function(value, key) {
                    var length = value.length;
                    var str ='';
                    var isFL = '';
                    for (var i=0; i<=length; i++) {
                        if (i == 0) {
                            isFL = ' class="first"';
                        } else if (i == length) {
                            isFL = ' class="last"';
                        } else {
                            isFL = '';
                        }
                        var text = (i == 0) ? key : value[i-1]['STATIONNAME'];
                        str += '<li' + isFL + '>' + text + '</li>';

                    }
                    str = '<ul>' + str + '</ul>';
                    print(str);
                });
            %>
        </script>
<!-- 城市列表模版结束 -->

<!-- 热门城市模版 -->
        <script type='javascript/template' id='hotCity_tpl'>
            <%
                var length = collection.length;
                var str = '';
                var isFL = '';
                for (var i=length+1; i; i--) {
                    if (i == 1) {
                        isFL = ' class="first"';
                    } else if (i == length+1) {
                        isFL = ' class="last"';
                    } else {
                        isFL = '';
                    }
                    var text = (i == 1) ? '热门城市' : collection[i-2]['STATIONNAME'];
                    str = '<li' + isFL + '>' + text + '</li>' + str;
                }
                print(str);
            %>
        </script>
<!-- 热门城市模版结束 -->

<!-- 订单查询模版 -->
        <script type='javascript/template' id='ticket_info'>
            <%
                var style1,
                    style2;
                if ($('.container').find('.taped').hasClass('t_price')) {
                    style1 = ' style="display: none;"';
                    style2 = ' style="display: block;"';
                } else {
                    style1 = ' style="display: block;"';
                    style2 = ' style="display: none;"';
                }
                _.each(models, function(value, key) {
                    print('<div class="main_info"' + value.go_order + '>' +
                              '<div class="bar">' +
                                  '<span class="train-no">' + value.train_no + '</span>' +
                                  '<span class="train-type">' + value.train_type + '</span>' +
                                  '<span class="all-time">' + value.full_time + '</span>' +
                                  '<span class="soldOut' + value.reserve + '"></span>' +
                              '</div>' +
                              '<div class="box">' +
                                  '<div class="s-a-time">' +
                                      '<span class="start-time">' + value.go_time + '</span>' +
                                      '<span class="arrive-time">' + value.to_time + '</span>' +
                                  '</div>' +
                                  '<div class="s-z">' +
                                      '<span class="s">始</span>' +
                                      '<span class="z">终</span>' +
                                  '</div>' +
                                  '<div class="s-a-station">' +
                                      '<span class="start-station">' + value.dep_station + '</span>' +
                                      '<span class="arrive-station">' + value.arr_station + '</span>' +
                                  '</div>' +
                                  '<div class="seat-state">' +
                                      '<span class="shang">' +
                                          '<span class="sName">商务座</span>' +
                                          '<span class="lef_tic"' + style1 + '>' + value.shang[0] + '</span>' +
                                          '<span class="situ"' + style2 + '>' + value.shang[1] + '</span>' +
                                      '</span>' +
                                      '<span class="yi">' +
                                          '<span class="sName">一等座</span>' +
                                          '<span class="lef_tic"' + style1 + '>' + value.yi[0] + '</span>' +
                                          '<span class="situ"' + style2 + '>' + value.yi[1] + '</span>' +
                                      '</span>' +
                                      '<span class="er">' +
                                          '<span class="sName">二等座</span>' +
                                          '<span class="lef_tic"' + style1 + '>' + value.er[0] + '</span>' +
                                          '<span class="situ"' + style2 + '>' + value.er[1] + '</span>' +
                                      '</span>' +
                                      '<span class="wo">' +
                                          '<span class="sName">软卧</span>' +
                                          '<span class="lef_tic"' + style1 + '>' + value.wo[0] + '</span>' +
                                          '<span class="situ"' + style2 + '>' + value.wo[1] + '</span>' +
                                      '</span>' +
                                  '</div>' +
                              '</div>' +
                          '</div>');
                });
            %>
        </script>
<!-- 订单查询模版结束 -->

<!-- 订单填写模版 -->
        <script type='javascript/template' id='write_order_info'>
            <%
                var day = new Date(models.current_time).getDay();
                var current_day;
                switch (day) {
                    case 0:
                        current_day = '星期日';
                        break;
                    case 1:
                        current_day = '星期一';
                        break;
                    case 2:
                        current_day = '星期二';
                        break;
                    case 3:
                        current_day = '星期三';
                        break;
                    case 4:
                        current_day = '星期四';
                        break;
                    case 5:
                        current_day = '星期五';
                        break;
                    case 6:
                        current_day = '星期六';
                }
            %>
            <div class='train_no'><%= models.train_no + models.train_type%></div>
            <div class='train_section'></div>
            <ul class='train_num_info'>
                <li class='first'><%= models.dep_station%><br /><%= models.go_time%></li>
                <li class='second'><%= models.current_time%></li>
                <li class='third'><%=current_day%></li>
                <li class='last'><%= models.arr_station%><br /><%= models.to_time%></li>
            </ul>
        </script>
<!-- 订单填写模版结束 -->

<!-- 座位信息模版 -->
        <script type='javascript/template' id='seat_info'>
            <%
                var sign = 0;
                _.each(seat_info, function(value, index) {
                    if (value == '无') {
                        return true;
                    }
                    var seat_type;
                    switch (index) {
                        case 0:
                            seat_type = '商务座';
                            break;
                        case 1:
                            seat_type = '一等座';
                            break;
                        case 2:
                            seat_type = '二等座';
                            break;
                        case 3:
                            seat_type = '卧铺[上下随机]';
                            break;
                    }
                    var state = (sign == 0) ? ' taped' : '';
                    var noBorder = (sign == 0) ? ' class="noBorder"' : '';
                    print('<li' + noBorder + '>' +
                              '<span class="first">' + seat_type + '</span>' +
                              '<span class="third">' + value + '</span>' +
                              '<span class="last' + state + '"></span>' +
                          '</li>');
                    sign += 1;
                });
            %>
        </script>
<!-- 座位信息模版结束 -->

<!-- 乘客信息模版 -->
        <script type='javascript/template' id='pas_info'>
            <%
                _.each(models, function(value, index) {
                    print('<div class="info_area">' +
                              '<li>' +
                                  '<span class="tick"></span>' +
                                  '<span class="c_name">' + value.c_name + '</span>' +
                                  '<span class="mobile_no">' + value.mobile_no + '</span>' +
                                  '<br />' +
                                  '<span class="pid_type">' + value.pid_type + '</span>' +
                                  '<span class="pid">' + value.pid.slice(0, 10) + '****' + value.pid.slice(-4) + '</span>' +
                              '</li>' +
                              '<div class="modify"></div>' +
                              '<div class="delete"></div>' +
                          '</div>');
                });
            %>
        </script>
<!-- 乘客信息模版结束 -->

<!-- 添加乘客信息模版 -->
        <script type='javascript/template' id='add_pas_info_tlp'>
            <%
                _.each(models, function(value, key) {
                    print('<li>' +
                              '<span class="d_pas"></span>' +
                              '<span class="c_name">' + value.c_name + '</span>' +
                              '<span class="mobile_no">' + value.mobile_no + '</span>' +
                              '<br />' +
                              '<span class="pid_type">' + value.pid_type + '</span>' +
                              '<span class="pid">' + value.pid + '</span>' +
                          '</li>');
                });
            %>
        </script>
<!-- 添加乘客信息模版结束 -->
    </body>
</html>