/*-------------reset-------------*/
*{background-repeat: no-repeat;}
h3,
a,
input,
select,
ul,
li{margin: 0; padding: 0;}

input{outline: none;}

html{background-size: 100% 100%; background-color: rgb(229, 229, 229);}
body{height: 100%; font-size: 17px; color: #2c3239; background-image: none; background-color: transparent;}
/*------------- reset结束 -------------*/


/*------------- 公用组件 -------------*/
.global_button{-webkit-box-sizing: border-box; width: 90%; padding: 0 35%; margin-left: 5%; height: 40px; line-height: 40px; text-align: center; color: white; border-radius: 3px; background-color: rgb(17, 105, 248);}
.global_button .left{float: left;}
.global_button .right{float: right;}
/*------------- 公用组件结束 -------------*/


/*------------- 导航条样式 -------------*/
nav{background: #3cade7; width: 100%; height: 66px; font-size: 23px; color: white; position: fixed; top: 0; line-height: 46px; text-align: center; z-index: 90; -webkit-box-sizing: border-box; padding: 20px 2% 0;}
nav.android{height: 46px; padding-top: 0;}
nav.blur_effect{-webkit-filter: blur(3px);}
nav .leftButton,
nav .rightButton{height: 36px; width: 50px; font-size: 19px; margin-top: 5px; line-height: 36px; text-align: center; border-radius: 3px;}
nav .leftButton{float: left; background-color: transparent; background-image: url(../images/top_back.png); background-image: -webkit-image-set(url(../images/top_back.png) 1x, url(../images/top_back@2x.png) 2x); background-position: center; background-repeat: no-repeat;}
nav .leftButton.hide{visibility: hidden;}
nav .leftButton.taped{background-image: url(../images/top_back_a.png); background-image: -webkit-image-set(url(../images/top_back_a.png) 1x, url(../images/top_back_a@2x.png) 2x);}
nav .rightButton{float: right;}
nav .rightButton.addColor{visibility: visible;}
nav .rightButton.taped{color: gray;}
nav .navTitle{font-size: 18px;}
/*------------- 导航条样式结束 -------------*/


/*------------- 网络请求等待层 -------------*/
#loading{display: none; position: fixed; z-index: 100; width: 100%; bottom: 0; background-image: url(../images/aLoading.png); background-image: -webkit-image-set(url(../images/loading.gif) 1x, url(../images/loading@2x.gif) 2x); background-repeat: no-repeat; background-position: center; background-color: rgba(247, 247, 247, 0.8);}
/*------------- 网络请求等待层结束 -------------*/


/*----------------- #steps样式 ---------------*/
#steps{padding-top: 66px; -webkit-box-sizing: border-box;}
#steps.android,
#steps.notIOS7{padding-top: 46px;}
/*----------------- #steps样式结束 ---------------*/


/*----------------------------- step1样式 ------------------------------*/
#step1{padding-top: 20px;}
#step1 .cityInfo,
#step1 .dateInfo{border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191);}
#step1 .cityInfo{display: -webkit-box; padding: 10px 5% 15px; text-align: center; background-color: white;}
#step1 .cityInfo .dep_place{width: 40%;}
#step1 .cityInfo .dep_place h3{display: inline-block; padding-left: 20px; background-image: url(../images/paper_plane.png); background-image: -webkit-image-set(url(../images/paper_plane.png) 1x, url(../images/paper_plane@2x.png) 2x); background-position: left; color: rgb(170, 170, 170);}
#step1 .cityInfo .dep_place .depp{font-size: 30px; margin-top: 20px;}
#step1 .cityInfo .dep_place .depp.fw{font-size: 25px; margin-top: 25px;}
#step1 .cityInfo .dep_place .depp.fiw{font-size: 22px; margin-top: 28px;}
#step1 .cityInfo .exchange{width: 20%; background-image: url(../images/exchange.png); background-image: -webkit-image-set(url(../images/exchange.png) 1x, url(../images/exchange@2x.png) 2x); background-position: center;}
#step1 .cityInfo .des_place{width: 40%;}
#step1 .cityInfo .des_place h3{display: inline-block; padding-left: 20px; background-image: url(../images/map.png); background-image: -webkit-image-set(url(../images/map.png) 1x, url(../images/map@2x.png) 2x); background-position: left; color: rgb(170, 170, 170);}
#step1 .cityInfo .des_place .desp{font-size: 30px; margin-top: 20px;}
#step1 .cityInfo .des_place .desp.fw{font-size: 25px; margin-top: 25px;}
#step1 .cityInfo .des_place .desp.fiw{font-size: 22px; margin-top: 28px;}
#step1 .dateInfo{background-color: white; padding-left: 12%; margin-top: 20px; background-image: url(../images/dep_date.png), url(../images/time_quantum.png), url(../images/train_type.png); background-image: -webkit-image-set(url(../images/dep_date.png) 1x, url(../images/dep_date@2x.png) 2x), -webkit-image-set(url(../images/time_quantum.png) 1x, url(../images/time_quantum@2x.png) 2x), -webkit-image-set(url(../images/train_type.png) 1x, url(../images/train_type@2x.png) 2x); background-position: 3% 13px, 3% 58px, 3% 105px;}
#step1 .dateInfo li{padding: 10px 3% 10px 1%; border-bottom: 1px solid rgb(191, 191, 191);}
#step1 .dateInfo li.first_li{position: relative;}
#step1 .dateInfo li.last{border-bottom: none;}
#step1 .dateInfo input,
#step1 .dateInfo select{float: right; -webkit-appearance: none; border: none; height: 25px; background: transparent; color: rgb(170, 170, 170);}
#step1 .dateInfo input{display: none; min-width: 20%; text-align: right; -webkit-box-sizing: border-box;}
#step1 .dateInfo .dep_date_hack{position: absolute; top: 10px; right: 3%; width: 40%; color: rgb(170, 170, 170); text-align: right;}

#step1 .tip{overflow: hidden; margin: 10px 0;}
#step1 .tip a,
#step1 .tip span{float: right;}
#step1 .tip a{color: rgb(11, 119, 249);}

#step1 .global_button{background-color: rgb(255, 114, 5); margin-top: 20px;}
#step1 .global_button.taped{background-color: rgb(202, 80, 3);}
/*----------------------------- step1样式结束 ------------------------------*/


/*----------------------------- #tip样式 ------------------------------*/
#tip{display: none; padding: 10px; background-color: white;}
/*----------------------------- #tip样式结束 ------------------------------*/


/*----------------------------- city样式 ------------------------------*/
#city{display: none;}
#city menu{position: relative;}
#city menu .search{padding: 10px 3%; background-color: rgb(232, 232, 232); position: relative; border-bottom: 1px solid rgb(191, 191, 191);}
#city menu .search input{border-radius: 5px; -webkit-box-sizing: border-box; width: 100%; height: 38px; padding-left: 16px; border: 1px solid rgb(191, 191, 191);}
#city menu .search .s_tip{position: absolute; left: 50%; top: 18px; margin-left: -88px; padding-left: 20px; background-image: url(../images/search.png); background-image: -webkit-image-set(url(../images/search.png) 1x, url(../images/search@2x.png) 2x); background-position: left center;}
#city menu .search .s_tip.hide{display: none;}
#city menu ul{background-color: white;}
#city menu ul.topCity{margin-top: 35px;}
#city menu ul li{height: 39px; line-height: 39px; border-bottom: 1px solid rgb(191, 191, 191); width: 93%; margin-left: 7%;}
#city menu ul li.first{padding-left: 8px; background: rgb(240, 240, 240); border-bottom: none; margin-left: 0; width: auto;}
#city menu ul li.last{border-bottom: none;}
#city menu ul.list{-webkit-box-sizing: border-box; position: absolute; z-index: 10; width: 100%; padding: 0 0 10px 3%; display: none; margin: 10px 0 0 -3%;}
#city menu ul.list li.taped{background: rgb(153, 153, 123);}
/*----------------------------- city样式结束 ------------------------------*/


/*----------------------------- queryTicket样式 ------------------------------*/
#queryTicket{display: none;}
#queryTicket .info-list .main_info{background: white; height: 115px; margin-top: 10px; color: black; font-size: 17px;}
#queryTicket .info-list .main_info_parent{padding: 50px 0 10px 0;}
#queryTicket .info-list .more{display: none; color: black; font-size: 20px; text-align: center; margin-bottom: 60px;}
#queryTicket .info-list .more.taped{background-color: rgb(178, 178, 178);}
#queryTicket .bar{-webkit-box-sizing: border-box; display: -webkit-box; height: 30px; border-bottom: 1px dashed rgb(220, 220, 220); padding: 3px 3% 3px; position: relative;}
#queryTicket .bar > span{display: block;}
#queryTicket .train-no{width: 20%;}
#queryTicket .train-type{width: 25%; color: rgb(109, 109, 109);}
#queryTicket .all-time{width: 40%; color: rgb(109, 109, 109);}
#queryTicket .bar .soldOut{position: absolute; display: none; width: 25px; height: 25px; top: 0; right: 0; background-image: url(../images/sold_out.png); background-image: -webkit-image-set(url(../images/sold_out.png) 1x, url(../images/sold_out@2x.png) 2x);}
#queryTicket .soldOut.visible{display: block;}
#queryTicket .box{-webkit-box-sizing: border-box; display: -webkit-box; height: 85px; padding: 6px 3% 6px 3%;}
#queryTicket .box span{display: block;}
#queryTicket .box span.wo .sName{min-width: 42px;}
#queryTicket .s-a-time{width: 20%;}
#queryTicket .s-a-station{width: 30%;}
#queryTicket .start-time,
#queryTicket .start-station{height: 22px; padding-top: 5px;}
#queryTicket .s{display: block;}
#queryTicket .arrive-time,
#queryTicket .arrive-station{font-size: 16px; height: 22px; margin-top: 19px; color: rgb(109, 109, 109);}
#queryTicket .s-z{text-align: center; width: 10%;}
#queryTicket .s,
#queryTicket .z{color: white; height: 22px; width: 22px;}
#queryTicket .s{background: rgb(11, 119, 249); padding-top: 5px; background-clip: content-box;}
#queryTicket .z{background: rgb(56, 165, 24); margin-top: 19px;}
#queryTicket .seat-state{width: 40%; position: relative; height: 100%;}
#queryTicket .seat-state > span{position: absolute; height: 35px; font-size: 14px; text-align: center;}
#queryTicket .shang{top: 0; left: 0;}
#queryTicket .yi{bottom: 0; left: 0;}
#queryTicket .er{top: 0; right: 0;}
#queryTicket .wo{bottom: 0; right: 0;}
#queryTicket .seat-state .sName,
#queryTicket .seat-state .lef_tic,
#queryTicket .seat-state .situ{display: block; height: 18px; border-radius: 3px; color: white;}
#queryTicket .seat-state .lef_tic,
#queryTicket .seat-state .situ{color: rgb(255, 114, 5);}
#queryTicket .seat-state .situ{display: none;}
#queryTicket .seat-state .sName{background-color: rgb(255, 114, 5);}
#queryTicket .top-bar,
#queryTicket .bottom-bar{-webkit-box-sizing: border-box; position: fixed; padding: 8px 5% 9px; overflow: hidden; top: 66px; width: 100%; height: 50px; background-color: white;}
#queryTicket .top-bar.android,
#queryTicket .top-bar.notIOS7{top: 46px;}
#queryTicket .prev,
#queryTicket .next{width: 65px; height: 33px; line-height: 33px;}
#queryTicket .prev{float: left; text-align: right; background-image: url(../images/Left_Arrow.png); background-image: -webkit-image-set(url(../images/Left_Arrow.png) 1x, url(../images/Left_Arrow@2x.png) 2x); background-position: left center;}
#queryTicket .next{float: right; background-image: url(../images/Right_arrow.png); background-image: -webkit-image-set(url(../images/Right_arrow.png) 1x, url(../images/Right_arrow@2x.png) 2x); background-position: right center;}
#queryTicket .nowDate{display: block; line-height: 33px; text-align: center;}
#queryTicket .bottom-bar{top: auto; bottom: 0;}
#queryTicket .bottom-bar .container{width: 100%; height: 100%; border: 1px solid rgb(11, 119, 249); border-radius: 5px; display: -webkit-box;}
#queryTicket .r_ticket,
#queryTicket .t_price{width: 50%; display: block; text-align: center; line-height: 33px;}
#queryTicket .r_ticket.taped,
#queryTicket .t_price.taped{background-color: rgb(11, 119, 249); color: white;}
/*----------------------------- queryTicket样式结束 ------------------------------*/


/*----------------------------- myOrder样式 ------------------------------*/
#myOrder{display: none;}
#myOrder > div{display: -webkit-box; padding-top: 10px; height: 65px; overflow: hidden;}
#myOrder .status-bar{width: 2%; background-color: rgb(237, 107, 27);}
#myOrder .info-bar{display: -webkit-box; width: 98%; -webkit-box-sizing: border-box; padding: 8px 2% 8px 0; color: black; background-color: white; text-align: center;}
#myOrder .train-no{width: 15%; line-height: 60px; text-align: center;}
#myOrder .s-a-info{width: 47%; font-size: 15px; display: -webkit-box;}
#myOrder .s-info,
#myOrder .a-info{width: 45%;}
#myOrder .s-info{text-align: right;}
#myOrder .a-info{text-align: left;}
#myOrder .s-info > div,
#myOrder .a-info > div{display: inline-block;}
#myOrder .s-time,
#myOrder .a-time{display: block; text-align: center; padding-top: 6px;}
#myOrder .symbol{width: 10%; color: rgb(95, 95, 95);}
#myOrder .s-date{width: 25%; font-size: 15px;}
#myOrder .go-date,
#myOrder .order-state{display: block;}
#myOrder .order-state{color: rgb(229, 76, 5); padding-top: 5px;}
#myOrder .price{width: 13%; line-height: 60px; text-align: right; font-size: 15px; color: rgb(235, 101, 20);}
/*----------------------------- myOrder样式结束 ------------------------------*/


/*----------------------------- writeOrder样式 ------------------------------*/
#writeOrder{display: none;}
#writeOrder .confirm_order{padding-bottom: 70px;}
#writeOrder .confirm_order > .first{padding: 10px 0 5px 0; background-color: white; border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191);}
#writeOrder .train_no{text-align: center; color: rgb(11, 119, 249);}
#writeOrder .train_section{width: 80%; margin: auto; border-top: 1px solid rgb(191, 191, 191);}
#writeOrder .train_num_info{display: -webkit-box; margin-top: 5px; font-size: 15px; text-align: center;}
#writeOrder .train_num_info .first{width: 25%;}
#writeOrder .train_num_info .second{width: 33%;}
#writeOrder .train_num_info .third{width: 17%;}
#writeOrder .train_num_info .last{width: 25%;}
#writeOrder h3{margin: 20px 0 0 5%; color: rgb(124, 124, 124);}
#writeOrder .confirm_order > menu{background-color: white; border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191);}
#writeOrder .confirm_order > menu li{padding: 10px 2% 10px 5%; display: -webkit-box; border-top: 1px solid rgb(191, 191, 191);}
#writeOrder .confirm_order > menu li.noBorder{border-top: none;}
#writeOrder .confirm_order > menu li span,
#writeOrder .confirm_order > menu li input{display: block;}
#writeOrder .confirm_order > menu .first{width: 45%;}
#writeOrder .confirm_order > menu .third{color: rgb(255, 114, 5); width: 45%;}
#writeOrder .confirm_order > menu .last{width: 10%; background-image: url(../images/not_selected.png); background-image: -webkit-image-set(url(../images/not_selected.png) 1x, url(../images/not_selected@2x.png) 2x);}
#writeOrder .confirm_order > menu{background-color: white; margin-bottom: 20px; border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191);}
#writeOrder .confirm_order > menu .last.taped{background-image: url(../images/select_a.png); background-image: -webkit-image-set(url(../images/select_a.png) 1x, url(../images/select_a@2x.png) 2x);}
#writeOrder .passenger_info .add_passenger{height: 25px; line-height: 25px; padding: 10px 5%; border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191); background: white;}
#writeOrder .passenger_info menu li{padding: 10px 3% 10px 5%; border-top: 1px solid rgb(191, 191, 191); font-size: 15px;}
#writeOrder .passenger_info .add_passenger .plus{width: 25px; height: 25px; float: left; background-image: url(../images/add.png); background-image: -webkit-image-set(url(../images/add.png) 1x, url(../images/add@2x.png) 2x);}
#writeOrder .passenger_info .add_passenger .plus + span{float: left; margin-left: 3%;}
#writeOrder .confirm_order .getContacts{position: relative; background-color: white; border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191);}
#writeOrder .confirm_order .getContacts li{border-bottom: 1px solid rgb(191, 191, 191); padding-left: 5%; height: 40px; line-height: 40px;}
#writeOrder .confirm_order .getContacts li.last{border-bottom: none;}
#writeOrder .confirm_order .getContacts li input{border: none; height: 100%; border-radius: 0; margin: 0 0 0 5%; padding: 0; width: 50%;}
#writeOrder .confirm_order .getContacts .c_pic{position: absolute; top: 0; right: 0; padding: 0 3%; background-origin: content-box; width: 50px; height: 100%; background-position: left center; background-color: white; background-image: url(../images/Contact.png); background-image: -webkit-image-set(url(../images/Contact.png) 1x, url(../images/Contact@2x.png) 2x);}
#writeOrder .passenger_info menu{background-color: white;}
#writeOrder .passenger_info menu span{display: inline-block;}
#writeOrder .passenger_info menu .c_name,
#writeOrder .passenger_info menu .pid_type{width: 35%;}
#writeOrder .passenger_info menu li .d_pas{float: right; width: 25px; height: 25px; margin-top: 9px; background-image: url(../images/delete.png); background-image: -webkit-image-set(url(../images/delete.png) 1x, url(../images/delete@2x.png) 2x);}
#writeOrder .passenger_info menu li .d_pas.taped{background: url(../images/passenger_delete_selected.png) no-repeat;}
#writeOrder .add_passenger.taped{background: blue;}
#writeOrder .bottom_bar{-webkit-box-sizing: border-box; z-index: 10; position: fixed; color: white; bottom: 0; height: 60px; font-size: 15px; line-height: 25px; width: 100%; background: rgb(255, 114, 5); padding: 5px 3%;}
#writeOrder .bottom_bar .submit{position: absolute; height: 60px; top: 0; right: 0; width: 80px; line-height: 60px; text-align: center; background: rgb(56, 165, 24); font-size: 23px;}
#writeOrder .bottom_bar .submit.taped{background: rgb(38, 135, 8);}
/*----------------------------- writeOrder样式结束 ------------------------------*/

/*----------------------------- addPassenger样式 ------------------------------*/
#addPassenger{display: none;}
#addPassenger .global_button {width: 100%; bottom: 0; position: fixed; background-color: rgb(56, 165, 24); margin-left: 0; border-radius: 0; height: 50px; line-height: 50px; font-size: 23px; padding: 0 40%;}
#addPassenger .global_button.taped{background-color: rgb(45, 134, 19);}
#addPassenger menu{padding-bottom: 71px; margin: auto;}
#addPassenger menu > div{overflow: hidden; position: relative; background-color: white; border-bottom: 1px solid rgb(191, 191, 191);}
#addPassenger menu li{padding: 10px 0 10px 5%; -webkit-transition: margin-right 500ms;}
#addPassenger menu li span{display: inline-block;}
#addPassenger menu li span.c_name,
#addPassenger menu li span.pid_type{width: 32%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#addPassenger menu li span.pid{font-size: 14px;}
#addPassenger menu li span.tick{float: left; width: 33px; height: 50px; margin-right: 5%; background-image: url(../images/user.png); background-image: -webkit-image-set(url(../images/user.png) 1x, url(../images/user@2x.png) 2x); background-position: left center;}
#addPassenger menu li span.tick.selected{background-image: url(../images/user_a.png); background-image: -webkit-image-set(url(../images/user_a.png) 1x, url(../images/user_a@2x.png) 2x);}
#addPassenger .modify,
#addPassenger .delete{position: absolute; width: 70px; height: 70px; top: 0; -webkit-transition: right 300ms;}
#addPassenger .modify{right: -70px; background-color: rgb(11, 119, 249); background-image: url(../images/edit.png); background-image: -webkit-image-set(url(../images/edit.png) 1x, url(../images/edit@2x.png) 2x); background-position: center;}
#addPassenger .modify.taped{background-color: rgb(14, 100, 204);}
#addPassenger .delete{right: -140px; background-color: rgb(227, 85, 64); background-image: url(../images/trash_can.png); background-image: -webkit-image-set(url(../images/trash_can.png) 1x, url(../images/trash_can@2x.png) 2x); background-position: center;}
#addPassenger .delete.taped{background-color: rgb(185, 71, 54);}
#addPassenger .modify.moveLeft{right: 70px;}
#addPassenger .delete.moveLeft{right: 0;}
/*----------------------------- addPassenger样式结束 ------------------------------*/


/*----------------------------- new_pas样式 ------------------------------*/
#new_pas{display: none;}
#new_pas input[type='text'],
#new_pas select{display: block; margin-top: 20px; height: 46px; width: 100%; padding: 5px 5%; background-color: white; border: none; border-radius: 0; border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191); -webkit-appearance: none; -webkit-box-sizing: border-box;}
#new_pas input::-webkit-input-placeholder{color: rgb(170, 170, 170);}
#new_pas .chs_sex{margin: 10px 0 5px 3%; color: rgb(108, 105, 105);}
#new_pas .sex{padding: 10px 15%; background-color: white; overflow: hidden; border-top: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191);}
#new_pas .sex input{-webkit-appearance: checkbox; border-radius: 0; width: 20px; height: 20px;}
#new_pas .sex .male,
#new_pas .sex .female{width: 30px; font-size: 20px; padding-right: 25px; background-image: url(../images/not_selected.png); background-image: -webkit-image-set(url(../images/not_selected.png) 1x, url(../images/not_selected@2x.png) 2x); background-position: right;}
#new_pas .sex .male.taped,
#new_pas .sex .female.taped{background-image: url(../images/select_a.png); background-image: -webkit-image-set(url(../images/select_a.png) 1x, url(../images/select_a@2x.png) 2x);}
#new_pas .sex .male{float: left;}
#new_pas .sex .female{float: right;}
#new_pas .save{background-color: rgb(56, 165, 24); margin-top: 30px;}
#new_pas .save.taped{background-color: rgb(45, 143, 19);}
/*----------------------------- new_pas样式结束 ------------------------------*/

