<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.jfpal.cordova.safepay"
    version="0.0.1">
    <name>Safepay</name>
    <description>Jfpal Safepay Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,safepay,jfpal</keywords>
    <repo>https://github.com/gikoluo/JfpalSafepay.git</repo>
    <issue>https://github.com/gikoluo/JfpalSafepay/wiki</issue>

    <js-module src="www/safepay.js" name="safepay">
        <merges target="jfpal" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Safepay" >
                <param name="android-package" value="com.jfpal.cordova.safepay.Safepay"/>
            </feature>
        </config-file>

        <source-file src="src/android/Safepay.java" target-dir="src/com/jfpal/cordova/safepay" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Safepay">
                <param name="ios-package" value="JfpalSafepay"/>
            </feature>
        </config-file>

        <header-file src="src/ios/JfpalSafepay.h" />
        <source-file src="src/ios/JfpalSafepay.m" />
    </platform>

</plugin>
